@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 98vw;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main{
    display: flex;
    flex-flow: nowrap row;
    width: 98vw;
}

article{
    margin: 0px;
    padding: 0px;
}

h2{
    margin: 0px;
}

#sec1{
    background-color: #c4c4c4;
    display: flex;
    flex-flow: column;
}

.media > img{
    display: block;
    width: 90%;
    margin: auto;
}

iframe{
    display: block;
    width: 90%;
    margin: auto;
}

.article1{
    display: flex;
    flex-flow: row wrap-reverse;
}
.article2{
    display: flex;
    flex-flow: row wrap;
}

.media{
    flex: 1 1 500px;
}
.text{
    flex: 1 1 500px;

}